
@font-face {
    font-family: 'deming';
    src: url('f/deming_ep-webfont.eot');
    src: url('f/deming_ep-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/deming_ep-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'homestead-alt';
    src: url('f/homestead-regular-webfont.eot');
    src: url('f/homestead-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/homestead-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'homestead';
    src: url('f/homestead-display-webfont.eot');
    src: url('f/homestead-display-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/homestead-display-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color:#515e64;
    text-rendering:geometricPrecision;
    font-size:12pt;
    height:100%;
    width:100%;
    background:url('../img/g.jpg');
    background-size:cover;
    background-position:center center;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

body {
    background-color: rgba(81,94,100,0.42);
    height:100%;
    width:100%;
    position:relative;
}
#body {
    display:table;
    height:100%;
    width:100%;
}
#name {
    height:50%;
    width:50%;
    text-align:center;
    color:#fff;
    opacity: 0;
    display:table-cell;
    vertical-align: middle;
    transform: translate3d(0,-40px,-10px) scale(1.2);
}
#name i {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    opacity: 0;
    transition: opacity 1.8s ease-in-out;
    height: 15pt;

}
i.lh {
    width: 112pt;
    background-image: url('../img/lh.png');
    margin: 12pt 0 0 -226pt;
}
i.rh {
    width: 92pt;
    background-image: url('../img/rh.png');
    margin: -38pt 0 0 116pt;
}
i.bh {
    width: 432pt;
    background-image: url('../img/bh.png');
    margin: -26pt 0 0 -220pt;
}
#chris {
    font-family: deming;
    font-size: 250%;
    letter-spacing: 8pt;
    height: 56px;
    padding: 10px 0 0 10px;
}

#front, #back {
    transition:transform 0.8s ease-out;
}

#front {
    /* -webkit-font-smoothing: none; */
    transform:scale(1.00001);
    margin-left:-2px;
}

#whalen {
    font-family: homestead;
    font-size: 1100%;
    letter-spacing: -18.2pt;
    margin: -44pt 0 0 -30pt;
    height:163pt;
    color:#fff;
    opacity:0;
    transition:opacity 0.6s ease;
}

#whalen span {
    font-size:80%;
    letter-spacing: -6.5pt;
    z-index:-2;
}

#back b {
    opacity:0.5;
    transition:color 2s linear, opacity 0.8s ease;
    -webkit-transition:color 2s linear, opacity 0.8s ease;
    font-weight:400;
    font-family: homestead-alt;
}

#whalen h1 {
    font-family: homestead;
    font-size: 1100%;
    letter-spacing: -18.1pt;
    position:absolute;
    z-index:-1;
}

#whalen em {
    margin: -161.5pt 0 0 1pt;
    display: block;
}

#whalen em b {
    font-weight:100;
}

.started #whalen em b {
    transition:color 4s linear;
    -webkit-transition:color 4s linear;
}



.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}
